.summary-section {
  display: flex;
  gap: 10px;
  margin-top: 2px;
  flex-wrap: wrap;
}

.summary-section > div {
  background: #F0F5F3;
  border-radius: 10px;
  flex: 1;
  
 
  box-sizing: border-box;
}

.blurred {
  filter: blur(2px);
  opacity: 0.4;
  transform: scale(0.98);
  pointer-events: none;
}